.slide-left {
    animation: in-left 1000ms ease-in-out forwards;
    animation-delay: 300ms;
}

.slide-right {
    animation: in-right 1000ms ease-in-out forwards;
    animation-delay: 300ms;
}

@keyframes in-left {
    0% {
      transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes in-right {
    0% {
      transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}