.slide-left {
    animation: in-left 1800ms ease-in-out forwards;
    animation-delay: 300ms;
}

.slide-right {
    animation: in-right 1800ms ease-in-out forwards;
    animation-delay: 300ms;
}

// .expand-center {
//     transform-origin: center;
//     animation: in-right 800ms ease-in-out forwards;
//     animation-delay: 300ms;
// }

@keyframes in-left {
    0% {
      transform: scaleX(1);
    }
    100% {
        transform: scaleX(100vw);
    }
}

@keyframes in-left {
    0% {
      transform: translateX(0);
    }
    60% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-100%);
        // min-width: 100vw;
    }
}

@keyframes in-right {
    0% {
      transform: translateX(0);
    }
    60% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}